
    <section class="container" id="hero">
        <div class="section_title">
            <h2>recent blog</h2>
        </div>
            <div class="hero_grid_container">
                <div class="card main_card">
                    <div class="blog_card">
                        <div class="blog_img">
                            <img src="./img/img.webp" alt="">
                        </div>
                        <div class="blog_content">
                            <a href="#">
                                <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                                <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                                <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                                <div class="tags">
                                    <span>Leadership</span>
                                    <span>Management</span>
                                    <span>Frameworks</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="blog_card row">
                        <div class="blog_img">
                            <img src="./img/img.webp" alt="">
                        </div>
                        <div class="blog_content">
                            <a href="#">
                                <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                                <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                                <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                                <div class="tags">
                                    <span>Leadership</span>
                                    <span>Management</span>
                                    <span>Frameworks</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="blog_card row">
                        <div class="blog_img">
                            <img src="./img/img.webp" alt="">
                        </div>
                        <div class="blog_content">
                            <a href="#">
                                <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                                <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                                <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                                <div class="tags">
                                    <span>Leadership</span>
                                    <span>Management</span>
                                    <span>Frameworks</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="container">
        <div class="card blog_card row  item-between-center">
            
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Leadership</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
        </div>
    </section>

    <section class="container">
    <div class="section_title">
        <h2>All blog</h2>
    </div>
        <div class="flex all_blog">
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Leadership</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="./img/img.webp" alt="">
                </div>
                <div class="blog_content">
                    <a href="#">
                        <p class="blog_author">Alec Whitten • 1 Jan 2023</p>
                        <h1 class="blog_title">The Impact of Technology on the Workplace: How Technology is Changing</h1>
                        <p class="blog_text">Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?</p>
                        <div class="tags">
                            <span>Leadership</span>
                            <span>Management</span>
                            <span>Frameworks</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
