
    <section class="form">
        <div class="form-box">
            <h2 class="form_title">Sign in</h2>
            <form action="" method="post">
                <div class="form_group">
                    <label for="Email">Email Address</label>
                    <input type="email" class="input_box" name="email" id="Email" placeholder="Enter Email Address">
                </div>
                <div class="form_group">
                    <label for="password">Password</label>
                    <input type="password" class="input_box" name="password" id="password" placeholder="Enter Password">
                </div>
                <div class="form_group">
                    <label for="remember_me" class="checkbox">
                        <input type="checkbox" name="remember_me" id="remember_me">
                        <span>Remember Me</span>
                    </label>
                </div>
                <div class="form_group">
                    <button type="submit">Submit</button>
                </div>
            </form>
            <p class="form_msg">Not have an account ? <a href="/register">Register</a></p>
        </div>
    </section>
